@import url(constant.css);

/* Desktop */
header {
    padding: 2vmin 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
}

.logo {
    margin-left: 2vmin;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.searchAccount {
    margin-right: 2vmin;
    display: flex;
    align-items: center;
}

.searchAccount img {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


header nav ul li {
    margin: 0 2vmin;
    position: relative; 
}

header nav a {
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.2em;
    position: relative; 
}

header nav a::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    right: 0;
    height: 2px;
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

header nav a:hover::after {
    background-color: var(--title-color); 
}

/* Responsive */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        margin: 1vmin 0;
    }

    header nav {
        margin-top: 1vmin;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav li {
        margin: 1vmin 0;
        display: block;
        text-align: center;
    }

    .searchAccount {
        margin-top: 1vmin;
    }

    .searchAccount img {
        max-width: 25px;
        margin-right: 5px;
    }
}