@import url(header.css);

main {
    margin: auto;
    flex: 1;
}

main section {
    padding: 20px;
}

main h1 {
    font-size: 2em;
    text-align: center;
}

main ul {
    list-style: none;
    padding: 0;
}

main li {
    margin-bottom: 10px;
}

.form-container {
    margin: auto;
    width: 80%;
    max-width: 300px;
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* Slightly transparent white background */
}

.form-container label {
    display: block;
    color: var(--text-color);
}

.form-container label>input,
.form-container >input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    box-sizing: border-box;
}

.form-container span {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.form-container input[type="radio"] {
    margin-right: 5px;
}

.form-container input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Responsive */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    li {
        font-size: 0.9em;
    }
    main {
        padding: 0.1em;
    }
    .form-container {
        width: 80%;
    }
}